// Import Fuse core library
@import "@checkinfun/scss/core.scss";

// Import app.theme.scss
@import "app/app.theme";


html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    overflow: auto;
    background: #FFf;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Asap', sans-serif;
}

a:hover {
    text-decoration: none;
}