<div mat-dialog-actions class="mat-typography confirm">
  <h2>{{ _confirm.title }}</h2>
  <button mat-stroked-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>
