@import "@checkinfun/scss/fuse.scss";

:host {
  .data-table {
    flex: 1 1 auto;
    overflow: auto;

    .mat-header-row {
      min-height: 64px;
    }

    .row-table {
      position: relative;
      cursor: pointer;
      padding: 5px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-header-cell {
      justify-content: inherit !important;
    }

    .data-row-image {
      width: 52px;
      height: 52px;
    }

    .mat-column-actions {
      flex: 0 1 75px;
      padding-right: 0;
      justify-content: flex-end;
    }
    .mat-column-id {
      flex: 0 1 75px;
    }

    .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
