<div class="mat-white-bg">
  <mat-table class="data-table"
             #table [dataSource]="dataSource"
             matSort
             [@animateStagger]="{value:'50'}"
             fusePerfectScrollbar>

      <ng-container *ngFor="let column of displayedColumns" [cdkColumnDef]="column">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column | uppercase }}</mat-header-cell>
          <mat-cell *cdkCellDef="let row">
              <p *ngIf="column != 'image' && column != 'actions'" class="text-truncate">{{row[column]}}</p>
              <img class="data-row-image"
                   *ngIf="column == 'image' && row.image" [alt]="row.alt"
                   [src]="row.image.src"/>
              <div *ngIf="column == 'actions'" fxFlex="row" fxLayoutAlign="end center">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                          <mat-icon>dialpad</mat-icon>
                          <span>Redial</span>
                      </button>
                      <button mat-menu-item disabled>
                          <mat-icon>voicemail</mat-icon>
                          <span>Check voicemail</span>
                      </button>
                      <button mat-menu-item>
                          <mat-icon>notifications_off</mat-icon>
                          <span>Disable alerts</span>
                      </button>
                  </mat-menu>
              </div>
          </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *cdkRowDef="let row; columns: displayedColumns;"
               class="row-table"
               matRipple>
      </mat-row>

  </mat-table>

  <mat-paginator #paginator
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20, 30]">
  </mat-paginator>
</div>
