@import "@checkinfun/scss/fuse.scss";

:host {
    .header {
      .search-input-wrapper {
        max-width: 480px;
      }
  
    //   @include media-breakpoint-down(xs) {
        margin: 8px 0;
        height: 192px !important;
        min-height: 192px !important;
        max-height: 192px !important;
    //   }
    }
  
    .top-bg {
    //   @include media-breakpoint-down(xs) {
        height: 240px;
    //   }
    }
  }
  